#weather-info {
    display: flex;
    flex-direction: row;
    text-align: center;
    text-wrap: pretty;
    gap: 15px;
    font-family: sans-serif;
    text-shadow: 0 0 20px rgb(253, 42, 77), 0 0 20px rgba(10, 175, 230, 0);
}